h3{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}